/*Adam Atamnia 2036819*/

/*Styling the form*/

.spending-log-form{
    display: flex;
    flex-direction: column;
    min-width: 500px;
    padding: 1rem;
    margin: .5rem;
    border: 2px solid black;
    border-radius: 30px;
    background-color: rgb(241, 246, 248);
}
.spending-log-form > h1{
    text-align: center;
}
.container{
    list-style-type: none;
    padding: 0;
}
.row{
    display: flex;
    justify-content: flex-end;
    margin: 1rem;
}
.row > input, textarea{
    flex: 2 2 5rem;
}
.row > #date{
    flex: .5 .5;
}
.row > label{
    flex: 1 1 1rem;
}

.category{
    padding: 1rem;
}

.add-entry{
    margin: 10px;
}

input:invalid, textarea:invalid{
    background-color: rgb(255, 223, 223);
}

/*Styling the main*/

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.credits{
    border: 2px solid black;
    background-color: rgb(0, 132, 172);
    min-width: 500px;
    text-align: center;
    padding: 1rem;
    color: white;
    
}

/*Styling the entries*/

.entry{
    width: 500px;
    border: 2px dashed black;
    border-radius: 30px;
    padding: 1rem;
    margin: .5rem;
}
.School-entry{
    background-color: rgb(251, 246, 203);
}
.Entertainment-entry{
    background-color: rgb(203, 251, 213);
}
.Food-entry{
    background-color: rgb(251, 203, 203);
}
.Other-entry{
    background-color: rgb(251, 203, 249);
}
.row > .entry-category{
    margin: 0;
    padding: 0;
    flex: 1 1 5rem; 
}
.row > .amount{
    padding: 5px;
    flex: .5 .5 2rem; 
    border: 3px dashed black;
    text-align: center;
}
.row > .stars{
    margin: 0;
    flex: 1 1 5rem; 
    text-align: right;
    padding: 2px;
}

.description{
    margin: auto 1rem; 
    border-left: 3px solid black;
    padding: 8px;
    word-wrap: break-word;
}
.date{
    flex: 1 1 1rem; 
}
.delete-entry{
    flex: 1 1 1rem; 
    max-width: 10rem;
}